.App {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
  }
  
  button {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #18cc08;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #028518;
  }
  
  .notifications {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
   
  }
  
  .notification {
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 50%;
    margin-left: 23%;
    
    
  }
  .hello{
    width: 95%;
    margin-left: 0%;

  }
 
  
  .notification.read {
    background-color: #a5d386;
    
  }
  
  .notification span {
    color: red;
    position: absolute;
    right: 10px;
    top: 20px;
    
  }
  .notif-div{
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* align-items: center; */
  }
  .icon{
    font-size: 33px;
    /* position: relative; */
  }
  /* .count.countPara{
    padding-bottom: 50px;
  } */
  .count{
    background: red;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 15px;
    /* display: flex; */
    text-align: center;
    padding-top: 4px;
  
    
    font-size: 10px;
    position: absolute;
    margin-left: 2%;
    
    /* align-items: center */
    
  }
